<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">
    <php>
        <env name="MYSQL_HOST" value="localhost" />
        <env name="MYSQL_PORT" value="3306" />
        <env name="MYSQL_USER" value="testuser" />
        <env name="MYSQL_PASSWORD" value="password" />
        <env name="MYSQL_DATABASE" value="testdb" />
    </php>
    <testsuites>
        <testsuite name="tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>

